<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Emergee Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script rel="script" src="/static/js/loginValidate.js" defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/static/js/googleLogin.js" rel="script" defer></script>
    <meta name="google-signin-client_id"
          content="937806585060-f0cgf0ipskqbj73qktojang6oblu8n2e.apps.googleusercontent.com">

</head>

<body>
<h1>Login page</h1>

<form id="loginForm" th:action="@{/login}" method="post">
    <p>
        <label for="email">E-mail:</label><br>
        <input type="text" id="email" name="email" autofocus="autofocus" required/>
    </p>

    <p>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required/><br/>
    </p>
    <button id="submitLogin" type="submit">Login</button>
</form>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
</body>
</html>