<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="/static/js/editProfile.js" rel="script" defer></script>
</head>
<body>
<nav th:fragment="bar" class="navbar sticky-top navbar-light bg-light">
    <a href="#" class="navbar-brand float-left glyphicon glyphicon-cog" data-toggle="modal"
       data-target="#profileModal"></a>
    <div th:text="${session.user.getName()}" class="navbar-brand mb-0 h1"></div>
    <a class="navbar-brand float-right glyphicon glyphicon-log-out" href="/logout"></a>
</nav>

<!--User Profile Modal -->

<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">My Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="inputFields" class="modal-body">
                <ul class="list-group">
                    <strong>Name</strong>
                    <a id="name" contentEditable=true th:text="${session.user.getName()}" href="#" class="list-group-item list-group-item-action profileField"></a>
                    <br>
                    <strong>Country</strong>
                    <a id="country" contentEditable=true th:text="${session.user.getAddress().getCountry()}" href="#"
                       class="list-group-item list-group-item-action profileField"></a>
                    <br>
                    <strong>City</strong>
                    <a id="city" contentEditable=true th:text="${session.user.getAddress().getCity()}" href="#"
                       class="list-group-item list-group-item-action profileField"></a>
                    <br>
                    <strong>Zip Code</strong>
                    <a id="zipCode" contentEditable=true th:text="${session.user.getAddress().getZipCode()}" href="#"
                       class="list-group-item list-group-item-action profileField"></a>
                    <br>
                    <strong>Street</strong>
                    <a id="street" contentEditable=true th:text="${session.user.getAddress().getStreet()}" href="#"
                       class="list-group-item list-group-item-action profileField"></a>
                    <br>
                    <strong>House Number</strong>
                    <a id="houseNumber" contentEditable=true th:text="${session.user.getAddress().getHouseNum()}" href="#"
                       class="list-group-item list-group-item-action profileField"></a>
                    <br>
                    <strong>E-mail</strong>
                    <a th:text="${session.user.getEmail()}" href="#" class="list-group-item list-group-item-action"></a>
                    <br>
                    <strong>Phone Number</strong>
                    <a id="phoneNumber" contentEditable=true th:text="${session.user.getPhoneNumber()}" href="#"
                       class="list-group-item list-group-item-action profileField"></a>
                    <br>
                    <strong>ID Card Number</strong>
                    <a id="idCardNum" contentEditable=true th:text="${session.user.getIdCardNum()}" href="#"
                       class="list-group-item list-group-item-action profileField"></a>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>