<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="google-signin-client_id"
          content="937806585060-f0cgf0ipskqbj73qktojang6oblu8n2e.apps.googleusercontent.com">
    <script src="/static/js/logout.js" rel="script" defer></script>
    <meta charset="UTF-8">

    <!-- Latest Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

    <title>Update your profile</title>
</head>
<body>
<h2 th:text=" 'Welcome ' + ${session.userName} + '!'"></h2>
<p>Please update your profile</p>
</div>
<form id="profileForm" th:action="@{/updateProfile}" method="post">
<div class="modal-body">
    <ul class="list-group">
        <strong>Name</strong>
        <a th:text="${session.userName}" href="#" class="list-group-item list-group-item-action"></a>
        <br>
        <strong>Address</strong>
        <input type="text" id="address" name="address" autofocus="autofocus" required/>

        <br>
        <strong>E-mail</strong>
        <a th:text="${session.email}" href="#" class="list-group-item list-group-item-action"></a>
        <br>
        <strong>Phone Number</strong>
        <input type="text" id="phoneNumber" name="phoneNumber" autofocus="autofocus" required/>
        <br>
        <strong>ID Card Number</strong>
        <input type="text" id="idCard" name="idCard" autofocus="autofocus" required/>
    </ul>
</div>
    <button id="submitForm" type="submit">Save</button>
</form>
<a href="/logout" onclick="signOut();">Sign out</a>
</body>
</html>